body{
    overflow-x: hidden;
    margin: 20px;
}
img{
    max-width: 200px;
    max-height: 180px;
    width: 100%;
}
.row{
    padding: 10px;
}
h6{
    padding-bottom: 15px;
}
.cafe-img-name:hover{
    background-color: #d3d3d3;
}